@model MapHive.Models.PageModels.ChangeUsernamePageModel

<div class="card shadow h-100">
    <div class="card-header bg-info text-white">
        <h3 class="card-title">Change Username</h3>
    </div>
    <div class="card-body">
        <form asp-action="ChangeUsername" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="NewUsername" class="form-label">New Username</label>
                <input asp-for="NewUsername" class="form-control" />
                <span asp-validation-for="NewUsername" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Update Username</button>
            </div>
        </form>
    </div>
</div> 