@model MapHive.Models.PrivateProfileViewModel

<div class="card shadow h-100">
    <div class="card-header bg-info text-white">
        <h3 class="card-title">Change Password</h3>
    </div>
    <div class="card-body">
        <form asp-action="ChangePassword" method="post">
            <div class="mb-3">
                <label asp-for="ChangePasswordModel.CurrentPassword" class="form-label"></label>
                <input asp-for="ChangePasswordModel.CurrentPassword" class="form-control" type="password" />
                <span asp-validation-for="ChangePasswordModel.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ChangePasswordModel.NewPassword" class="form-label"></label>
                <input asp-for="ChangePasswordModel.NewPassword" class="form-control" type="password" />
                <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ChangePasswordModel.ConfirmPassword" class="form-label"></label>
                <input asp-for="ChangePasswordModel.ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ChangePasswordModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
</div> 