################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MapHive/bin
/MapHive/obj
/MapHive/Properties
/MapHive/maphive.db-shm
/MapHive/maphive.db-wal
/MapHive/maphive.db
/poznamky.docx
/~$znamky.docx

.fake
/MapHive/maphive.db.sql

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/ 
/.roo/rules/context.md
/.roo/rules/dev_workflow.md
/.roo/rules/general.md
/.roo/rules/map-hive-context.md
/.roo/rules/roo_rules.md
/.roo/rules/self_improve.md
/.roo/rules/taskmaster.md
/.roo
/.cursor/mcp.json
/CommonAnalyzers/CommonAnalyzers/obj
/CommonAnalyzers/CommonAnalyzers/bin
/CommonAnalyzers
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/CommonAnalyzers.CodeFixes.csproj.nuget.dgspec.json
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/CommonAnalyzers.CodeFixes.csproj.nuget.g.props
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/CommonAnalyzers.CodeFixes.csproj.nuget.g.targets
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0/CommonAnalyzers.CodeFixes.AssemblyInfo.cs
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0/CommonAnalyzers.CodeFixes.AssemblyInfoInputs.cache
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0/CommonAnalyzers.CodeFixes.assets.cache
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0/CommonAnalyzers.CodeFixes.csproj.AssemblyReference.cache
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/Debug/netstandard2.0/CommonAnalyzers.CodeFixes.GeneratedMSBuildEditorConfig.editorconfig
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/project.assets.json
/CommonAnalyzers/CommonAnalyzers.CodeFixes/obj/project.nuget.cache
/CommonAnalyzers/CommonAnalyzers.Package/obj
/CommonAnalyzers/CommonAnalyzers.Package/obj/CommonAnalyzers.Package.csproj.nuget.dgspec.json
/CommonAnalyzers/CommonAnalyzers.Package/obj/CommonAnalyzers.Package.csproj.nuget.g.props
/CommonAnalyzers/CommonAnalyzers.Package/obj/CommonAnalyzers.Package.csproj.nuget.g.targets
/CommonAnalyzers/CommonAnalyzers.Package/obj/Debug/netstandard2.0
/CommonAnalyzers/CommonAnalyzers.Package/obj/Debug/netstandard2.0/CommonAnalyzers.Package.AssemblyInfo.cs
/CommonAnalyzers/CommonAnalyzers.Package/obj/Debug/netstandard2.0/CommonAnalyzers.Package.AssemblyInfoInputs.cache
/CommonAnalyzers/CommonAnalyzers.Package/obj/Debug/netstandard2.0/CommonAnalyzers.Package.assets.cache
/CommonAnalyzers/CommonAnalyzers.Package/obj/Debug/netstandard2.0/CommonAnalyzers.Package.csproj.AssemblyReference.cache
/CommonAnalyzers/CommonAnalyzers.Package/obj/Debug/netstandard2.0/CommonAnalyzers.Package.GeneratedMSBuildEditorConfig.editorconfig
/CommonAnalyzers/CommonAnalyzers.Package/obj/project.assets.json
/CommonAnalyzers/CommonAnalyzers.Package/obj/project.nuget.cache
/CommonAnalyzers/CommonAnalyzers.Test/obj
/CommonAnalyzers/CommonAnalyzers.Test/obj/CommonAnalyzers.Test.csproj.nuget.dgspec.json
/CommonAnalyzers/CommonAnalyzers.Test/obj/CommonAnalyzers.Test.csproj.nuget.g.props
/CommonAnalyzers/CommonAnalyzers.Test/obj/CommonAnalyzers.Test.csproj.nuget.g.targets
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/CommonAnalyzers.Test.AssemblyInfo.cs
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/CommonAnalyzers.Test.AssemblyInfoInputs.cache
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/CommonAnalyzers.Test.assets.cache
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/CommonAnalyzers.Test.csproj.AssemblyReference.cache
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/CommonAnalyzers.Test.GeneratedMSBuildEditorConfig.editorconfig
/CommonAnalyzers/CommonAnalyzers.Test/obj/Debug/netcoreapp3.1/CommonAnalyzers.Test.Program.cs
/CommonAnalyzers/CommonAnalyzers.Test/obj/project.assets.json
/CommonAnalyzers/CommonAnalyzers.Test/obj/project.nuget.cache
/CommonAnalyzers/CommonAnalyzers.Vsix/obj
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/CommonAnalyzers.Vsix.csproj.nuget.dgspec.json
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/CommonAnalyzers.Vsix.csproj.nuget.g.props
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/CommonAnalyzers.Vsix.csproj.nuget.g.targets
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/Debug/net472
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/Debug/net472/CommonAnalyzers.Vsix.AssemblyInfo.cs
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/Debug/net472/CommonAnalyzers.Vsix.AssemblyInfoInputs.cache
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/Debug/net472/CommonAnalyzers.Vsix.assets.cache
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/Debug/net472/CommonAnalyzers.Vsix.csproj.AssemblyReference.cache
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/Debug/net472/CommonAnalyzers.Vsix.GeneratedMSBuildEditorConfig.editorconfig
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/project.assets.json
/CommonAnalyzers/CommonAnalyzers.Vsix/obj/project.nuget.cache
