################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MapHive/bin
/MapHive/obj
/MapHive/Properties
/MapHive/maphive.db-shm
/MapHive/maphive.db-wal
/MapHive/maphive.db
/poznamky.docx
/~$znamky.docx
